// COLORS
$primary-color: #557cf2;
$secondary-color: #f26b7a;
$color-dark-gray: #4e5159;
$color-light-gray: #7b7f8a;
$color-lighter-gray: #f7faff;
$color-default: #fff;

//FONTS
$font: 'Roboto', sans-serif;

//BREAKPOINTS
// Small tablets and large smartphones (landscape view)
$screen-sm: 576px;
// Small tablets (portrait view)
$screen-md: 768px;
// Tablets and small desktops
$screen-lg: 992px;
// Large tablets and desktops
$screen-xl: 1200px;
// Extra Large desktops
$screen-xxl: 1400px;

//OTHERS THINGS
$border-radius: 5px;